* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./assets/images/background-page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  color: #fff;

  /* font-family: 'Archivo', sans-serif; */
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

main {
  margin: 24px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px;
}

/* HEADER - INFO USER */

.container .header {
  width: 100%;
  margin-bottom: 32px;
}
.container .header .info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .info-user .personal-info {
  display: flex;
}

.container .header .info-user .personal-info img {
  margin: 8px;
}

.container .header .info-user .personal-info div span {
  font-size: 12px;
}

.container .header .info-user .personal-info div h2 {
  font-size: 24px;
}

.container .header .info-user .personal-info div span,
.container .header .info-user .personal-info div h2 {
  font-weight: 500;
}

.container .header .info-user .class-info {
  text-align: right;

  display: grid;
  grid-gap: 8px;
}

.container .header .info-user .class-info h2 {
  font-size: 24px;
}

.container .header .info-user .class-info div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.container .header .info-user .class-info div img {
  width: 16px;
}

.container .header .info-user .class-info div span {
  font-size: 12px;
}

.container .header .info-user .class-info h4 {
  color: #bcc3c8;
}

/* Weapons */
.container .weapons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .weapons .guns .slot {
  display: flex;
  align-items: center;

  width: 31.5rem;
  gap: 16px;
}

.container .weapons .guns .slot .images {
  width: 11.13rem;
  height: 5rem;
  margin: 4px;

  background-color: #a88133;
  border: 2px solid #f9ab16;
}

.container .weapons .guns .slot .images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container .weapons .guns .skill-tier {
  width: 44.5rem;
  height: 5rem;

  display: flex;
}
.container .weapons .guns .skill-tier .description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container .weapons .guns .description h1 {
  font-size: 32px;
}

.container .weapons .guns .description span {
  font-size: 12px;
  font-weight: 400;
}

/* Equipament */

.container .weapons .equipment .slot {
  display: flex;
  justify-content: flex-end;

  width: 31.5rem;
  gap: 16px;
}

.container .weapons .equipment .slot .description {
  text-align: right;
}

.container .weapons .equipment .slot .description span {
  font-size: 12px;
  font-weight: 400;
}

.container .weapons .equipment .slot .description h1 {
  font-size: 32px;
  font-weight: 700;
}

.container .weapons .equipment .slot .images {
  width: 11.13rem;
  height: 5rem;
  margin: 4px;

  background-color: #a88133;
  border: 2px solid #f9ab16;
}

.container .weapons .equipment .slot .images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* FOOTER */
.container footer {
  width: 60%;
}

.container footer ul {
  display: flex;
  justify-content: space-between;
}

.container footer ul li {
  list-style-type: none;
}
